= `${uname}, confirm your Memota account!\n\rIn order to use your newly created account, you need to verify your email address.\n\rJust click this link.\n\r${burl}user/verify/${token}\n\r\n\rA big thank you from the Memota team!`
